.location-weather {
  @include row();
  margin: 30px auto;
  border: 1px solid $black;
  border-radius: 3px;
  padding: 20px 0;
  

  .half {
    @include grid-column(12);

    @include breakpoint(desktop) {
      @include grid-column(6);
    }
  }

  .map-container {
    >div {
      position: relative !important;
      height: 300px !important;
    }
  }

  ul {
    margin: 20px 0;

    li {
      margin: 5px 0px;
      
      >span {
        font-weight: bold;
      }
    }
  }

  small {
    opacity: 0.6;
  }

  h3 {
    border-bottom: 1px solid $black;
    padding: 5px 0px;;
    margin: 0px;
  }
}

.location-weather-placeholder {
  text-align: center;
  margin: 40px;
  
  h3 {
    
  }
}