.search-bar {
  @include row();

  form {
    @include grid-column(12);

    background-color: $gray;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 10px;

    select {
      @extend input;

      @include breakpoint(desktop) {
        max-width: 240px;
      }
    }

    select, input {
      display: block;
      width: 100% !important;

      @include breakpoint(desktop) {
        display: inline-block;
        width: auto !important;
        margin:10px 5px;
        vertical-align: baseline;
      }
    }

    button {
      vertical-align: baseline;
    }

    @include breakpoint(desktop) {
      @include grid-column(6);
      @include grid-push(3);

      padding: 0px;
    }
  }
}