@import url(https://fonts.googleapis.com/css?family=PT+Sans);button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input, .search-bar form select,
select {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), .search-bar form select:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, .search-bar form select:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, .search-bar form select:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, .search-bar form select:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, .search-bar form select:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.search-bar {
  max-width: 1200px;
  margin: 0px auto; }
  .search-bar::after {
    clear: both;
    content: "";
    display: block; }
  .search-bar form {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    background-color: #f2f2f2;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 10px; }
    @media (min-width: 70em) {
      .search-bar form select {
        max-width: 240px; } }
    .search-bar form select, .search-bar form input, .search-bar form select {
      display: block;
      width: 100% !important; }
      @media (min-width: 70em) {
        .search-bar form select, .search-bar form input, .search-bar form select {
          display: inline-block;
          width: auto !important;
          margin: 10px 5px;
          vertical-align: baseline; } }
    .search-bar form button {
      vertical-align: baseline; }
    @media (min-width: 70em) {
      .search-bar form {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px;
        margin-left: calc(25% - 25px + 40px);
        padding: 0px; } }

.current-location {
  text-align: center; }
  .current-location span {
    color: #1565c0;
    text-decoration: underline;
    cursor: pointer; }
    .current-location span:hover {
      color: black; }

.recent-locations {
  text-align: center; }
  .recent-locations h3 {
    margin: 20px 0px 10px; }
  .recent-locations ul li {
    color: #1565c0;
    text-decoration: underline;
    cursor: pointer; }
    .recent-locations ul li:hover {
      color: black; }

.location-weather {
  max-width: 1200px;
  margin: 0px auto;
  margin: 30px auto;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 20px 0; }
  .location-weather::after {
    clear: both;
    content: "";
    display: block; }
  .location-weather .half {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
    @media (min-width: 70em) {
      .location-weather .half {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; } }
  .location-weather .map-container > div {
    position: relative !important;
    height: 300px !important; }
  .location-weather ul {
    margin: 20px 0; }
    .location-weather ul li {
      margin: 5px 0px; }
      .location-weather ul li > span {
        font-weight: bold; }
  .location-weather small {
    opacity: 0.6; }
  .location-weather h3 {
    border-bottom: 1px solid #000000;
    padding: 5px 0px;
    margin: 0px; }

.location-weather-placeholder {
  text-align: center;
  margin: 40px; }
